<div>
  <% ratings = post.ratings %>
  <% count = ratings.count %>
  <% count_translation = count == 1 ? 'one' : 'more' %>
  <% average = ratings.average(:score).to_f.round(2) %>

  <div class="read-only-rating" data-score="<%== average %>"></div>

  <p><%= I18n.t("views.plugins.camaleon_cms_rating.front._index.ratings.#{count_translation}", average: average, count: count, default: "#{average} average based on #{count} ratings.") %></p>

  <% unless defined?(hide_detail)%>
    <% groups = ratings.order(:score).group(:score).count %>
    <% 5.downto(1) do |score| %>
      <div>
        <span><%= I18n.t('views.plugins.camaleon_cms_rating.front._index.star', default: "#{score} Star") %></span>
        <span class="read-only-rating" data-score="<%== score %>"></span>
        <% percentage = count.nonzero? ? Array(groups.assoc(score)).second.to_i.fdiv(count) * 100 : 0 %>
        <%= number_to_percentage(percentage, precision: 0) %>
      </div>
    <% end %>
  <% end %>
</div>
